

#edituser {
    display: grid;
    padding: 1em;
    background: #212221;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;

}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
}

#submit {
    background: #f6cc45;
    padding: 0.7em;
    width: 100%;
    border: 0;
    color: black;
}

#submit:hover {
    background: #427982;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
        color: #f6cc45;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
    width: 100%;
}

input:focus {
    outline: 3px solid yellow;
    width: 100%;
}

#panel {
    margin-top: 90px;
    margin-bottom: 90px;
}
