.details-container {
    background-color: rgb(230, 223, 223);
    margin-top: 90px;
    margin-bottom: 50px;
    width: 85%
}

.details-title {
    text-align: center;
    background-color: rgb(230, 223, 223);
    margin-top: 40px
}

.details-card {
    height: 400px;
    text-align: center;
    background-color: rgb(230, 223, 223)
}

.details-card p {
    font-size: 130%
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
}